{% extends 'base.html' %}

{% block title %} Admin & Settings {% endblock %}

{% block notify %}
<!-- Success -->
  {% if (action == "settings") %}
    <div class="container">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b> Settings Updated.</b>
        </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}  
<div class="container" role="main">

<!-- Notifications Settings Card -->
<form name="notify" action="/admin/settings" method="POST">
    <div class="card shadow">
        <div class="card-header bg-info">
            <i class="fas fa-bell"></i>&nbsp; Notify Settings
        </div>
        <div class="card-body">
            <i>You can optionally get an notifications if the door is open for a certain amount of time.  Just fill in the account information here, and the specified timeout in minutes after which you'll get a notification letting you know your garage door is open.</i>
            <br><br>
   
            <!-- Notification Timeout -->
            <span class="badge badge-warning">NOTE:</span><i class="small"> Timeout of zero (0) disables notifications</i>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-stopwatch"></i>&nbsp; Notify Timeout(mins)</span>
                </div>
                <input id="timeout" type="type" min="0" max="120" class="form-control" name="timeout" placeholder="{{settings['notification']['minutes']}}"><br>
            </div>

            <!-- Reminder Notification Timeout -->
            <span class="badge badge-warning">NOTE:</span><i class="small"> This notification will be sent repeatedly at the specified interval until the door is closed. A setting of zero (0) disables this.</i>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-stopwatch"></i>&nbsp; Reminder Timeout(mins)</span>
                </div>
                <input id="reminder" type="number" min="0" max="120" class="form-control" name="reminder" placeholder="{{settings['notification']['reminder']}}"><br>
            </div>

            <!-- Public URL -->
            <span class="badge badge-warning">NOTE:</span><i class="small"> The public URL of your Garage Zero system, included in notifications.</i>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-globe"></i>&nbsp; System URL: </span>
                </div>
                <input id="public_url" type="text" class="form-control" name="public_url" placeholder="{{settings['misc']['PublicURL']}}"><br>
            </div>
            
            <!-- Notify on Open -->
            <span class="badge badge-warning">NOTE:</span><i class="small"> IFTTT/Pushover Notification on Door Open.</i>
            <div class="custom-control custom-switch">
                {% if settings['notification']['notify_on_open'] == "on" %}
                <input type="checkbox" class="custom-control-input" id="notify_on_open" name="notify_on_open" checked>
                <label class="custom-control-label" for="notify_on_open">Notify on door open.</label>
                {% else %}
                <input type="checkbox" class="custom-control-input" id="notify_on_open" name="notify_on_open" unchecked>
                <label class="custom-control-label" for="notify_on_open">Notify on door open.</label>
                {% endif %}
            </div>

            <br>

            <!-- E-mail Settings Card -->
            <div class="card shadow">
                <div class="card-header bg-info">
                    <i class="fas fa-envelope-open-text"></i>&nbsp; E-mail Settings
                </div>
                <div class="card-body">
                    <!-- From E-mail Address -->
                    <span class="badge badge-warning">NOTE:</span><i class="small"> Leaving "from" e-mail blank disables e-mail notifications</i>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i>&nbsp; From E-mail Address: </span>
                        </div>
                        <input id="from_email" type="text" class="form-control" name="from_email" placeholder="{{settings['email']['FromEmail']}}"><br>
                    </div>

                    <!-- To E-mail Entry -->
                    <span class="badge badge-warning">NOTE:</span><i class="small"> If you want to send notification to multiple e-mails, then seperate with a comma (','). </i>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i>&nbsp; TO E-mail: </span>
                        </div>
                        <input id="to_email" type="text" class="form-control" name="to_email" placeholder="{{settings['email']['ToEmail']}}">
                    </div>
        
                    <!-- SMTP Server -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe"></i>&nbsp; SMTP Server: </span>
                        </div>
                        <input id="server" type="text" class="form-control" name="server" placeholder="{{settings['email']['SMTPServer']}}">
                    </div>
                    <br>
        
                    <!-- SMTP Port -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe"></i>&nbsp; SMTP Port: </span>
                        </div>
                        <input id="port" type="number" class="form-control" name="port" placeholder="{{settings['email']['SMTPPort']}}">
                    </div>
        
                    <div class="custom-control custom-switch">
                        {% if settings['email']['UseTLS'] %}
                        <input type="checkbox" class="custom-control-input" id="use_tls" name="use_tls" checked>
                        <label class="custom-control-label" for="use_tls">Use SSL/TLS.</label>
                        {% else %}
                        <input type="checkbox" class="custom-control-input" id="use_tls" name="use_tls" unchecked>
                        <label class="custom-control-label" for="use_tls">Use SSL/TLS.</label>
                        {% endif %}
                    </div>
        
                    <br>
        
                    <!-- Username Entry -->
                    <span class="badge badge-warning">NOTE:</span><i class="small"> Used for server login.</i>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-tie"></i>&nbsp; Username: </span>
                        </div>
                        <input id="username" type="text" class="form-control" name="username" placeholder="{{settings['email']['Username']}}">
                    </div>
        
                    <!-- Password Entry -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i>&nbsp; Password: </span>
                        </div>
                        <input id="password" type="password" class="form-control" name="password" placeholder="********">
                    </div>
                </div>
            </div><br>

            <!-- IFTTT Settings Card -->
            <div class="card shadow">
                <div class="card-header bg-info">
                    <i class="fas fa-bell"></i>&nbsp; IFTTT Settings
                </div>
                <div class="card-body">

                    <!-- IFTTT API Key -->
                    <span class="badge badge-warning">NOTE:</span><i class="small"> Use IFTTT Notification App.  Set to 0 to disable.</i>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i>&nbsp; IFTTT API Key: </span>
                        </div>    
                        <input id="iftttapi" type="text" class="form-control" name="iftttapi" placeholder="{{settings['ifttt']['APIKey']}}">
                    </div>
                </div>
            </div>
            <br>
            
            <!-- Pushover Settings Card -->
            <div class="card shadow">
                <div class="card-header bg-info">
                    <i class="fas fa-bell"></i>&nbsp; Pushover Settings
                </div>
                <div class="card-body">
                    <!-- API Key -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i>&nbsp; API Key: </span>
                        </div>
                        <input id="pushover_apikey" type="text" class="form-control" name="pushover_apikey" value="{{settings['pushover']['APIKey']}}">
                    </div>
                    <br>
  
                    <!-- User Keys -->
                    <span class="badge badge-warning">NOTE:</span><i class="small"> If you want to send notification to multiple users, then seperate with a comma (','). </i>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i>&nbsp; User Keys: </span>
                        </div>
                        <input id="pushover_userkeys" type="text" class="form-control" name="pushover_userkeys" value="{{settings['pushover']['UserKeys']}}">
                    </div>
                </div>
            </div><br>
        </div> 
        <!-- Notify Footer w/Submit Button -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save Settings</button>
        </div>
    </div>
</form><br>

<!-- Theme Settings Card -->
<form name="theme" action="/admin/settings" method="POST">
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="fas fa-palette"></i>&nbsp; Theme Settings
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="sel1">Select a Theme:</label>
            <select class="form-control" id="theme" name="theme">
              <option value="default" {% if pagetheme == 'default' %}selected{% endif %}>Default</option>
              <option value="bootstrap" {% if pagetheme == 'bootstrap' %}selected{% endif %}>Bootstrap</option>
              <option value="flatly" {% if pagetheme == 'flatly' %}selected{% endif %}>Flatly</option>
              <option value="darkly" {% if pagetheme == 'darkly' %}selected{% endif %}>Darkly</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </div>
</div>
</form>

<br>
<!-- API Settings Card -->
<form name="apisettings" action="/admin/settings" method="POST">
    <div class="card shadow">
        <div class="card-header bg-info">
            <i class="fas fa-server"></i>&nbsp; API Settings {% if settings['api_config']['enable'] %}<strong>[ENABLED]</strong>{% else %}[DISABLED]{% endif %}
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-success" type="submit" id="gen_api" name="gen_api" value="true">Generate API Key</button>
                </div>
                <input type="text" class="form-control" id="apikey" value="{{ settings['api_config']['apikey'] }}" aria-label="apikey" aria-describedby="gen_api" readonly="readonly">
              </div>
              <button class="btn btn-outline-primary" type="button" id="copy_key"><i class="far fa-clipboard"></i> Copy Key to Clipboard</button><br>
              <i><a href="/haexample" target="blank">Show example Home Assistant configuration YAML. </a> (Opens in a new window/tab)</i>
        </div>
        <div class="card-footer">
            {% if settings['api_config']['enable'] %}
            <button type="submit" class="btn btn-warning" id="enable_api" name="enable_api" value="false">Disable API</button>
            {% else %}
            <button type="submit" class="btn btn-success" id="enable_api" name="enable_api" value="true">Enable API</button>
            {% endif %}

        </div>
    </div>
</form><br>

<!-- System Information Card -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="fas fa-info-circle"></i>&nbsp; System Information
    </div>
    <div class="card-body">
        <b>CPU Info</b><br>
        {% for line in cpuinfo %}
        {{ line }}<br>
        {% endfor %}
    </div>
</div>
<br>

<!-- Uptime Card -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="far fa-arrow-alt-circle-up"></i>&nbsp; Uptime
    </div>
    <div class="card-body">{{ uptime }}</div>
</div>
<br>

<!-- Administration Functions Card -->
<div class="card shadow">
    <div class="card-header bg-danger">
        <i class="fas fa-power-off"></i>&nbsp; System Power
    </div>
    <div class="card-body">
            <!-- Reboot -->
            <form name="input" action="/admin/reboot">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-warning btn-block shadow" data-toggle="modal" data-target="#rebootModal">
                    Reboot System
                </button>

                <!-- Reboot Modal -->
                <div class="modal fade" id="rebootModal" tabindex="-1" role="dialog" aria-labelledby="rebootModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rebootModalLabel">Reboot</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you would like to reboot the system?
                                <br><i>Any unsaved data may be lost.</i></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" name="reboot" value="True">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <br>
            <!-- Shutdown -->
            <form name="input" action="/admin/shutdown">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger btn-block shadow" data-toggle="modal" data-target="#shutdownModal">
                    Shutdown System
                </button>

                <!-- Shutdown Modal -->
                <div class="modal fade" id="shutdownModal" tabindex="-1" role="dialog" aria-labelledby="shutdownModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="shutdownModalLabel">Shutdown</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you would like to shutdown the system?
                                <br><i>Any unsaved data may be lost.  System must be manually started after a shutdown.</i></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" name="shutdown" value="True">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<br>

<!-- Attributions and Credits -->
<div class="card shadow">
    <div class="card-header bg-info">
        <i class="fas fa-bullhorn"></i>&nbsp; Atributions & Credits
    </div>
    <div class="card card-body">
        <p>Web Application created by <a href="https://parmeter.net/tech" target="blank">Ben Parmeter</a>, copyright 2020. Check out my other projects on <a href="https://github.com/nebhead" target="blank">GitHub.</a></p>
        <p><i>If you enjoy this software and feel the need to donate a cup of coffee, a frosty beer or a bottle of wine to the developer you can click <a href="https://paypal.me/benparmeter" target="blank">here.</a></i></p>
        <p><i>Of course, none of this project would be available without the wonderful and amazing folks below... </i></p><br>
        <ul class="list-group">
            <li class="list-group-item"><b>Bootstrap</b> - WebUI Based on Bootstrap 4.  Bootstrap is released under the MIT license and is copyright 2018 Twitter. (<a href="http://getbootstrap.com" target="blank">getbootstrap.com</a>)</li>
            <li class="list-group-item"><b>JQuery</b> - Required by Bootstrap. Copyright JS Foundation and other contributors. Released under MIT license. (<a href="https://jquery.org/license/" target="blank">jquery.org/license</a>)</li>
            <li class="list-group-item"><b>Popper</b> - Required by Bootstrap. Copyright 2016, 2018 FEDERICO ZIVOLO & CONTRIBUTORS. Released under MIT license. (<a href="https://popper.js.org/" target="blank">popper.js.org</a>)</li>
            <li class="list-group-item"><b>FontAwesome</b> - Amazing FREE Icons that I use throughout this project.  Copyright Font Awesome.  Released under the Font Awesome Free License. (<a href="https://fontawesome.com/" target="blank">fontawesome.com</a>)(<a href="https://github.com/FortAwesome/Font-Awesome" target="blank">github.com</a>)</li>
            <li class="list-group-item"><b>BootSwatch</b> - Bootstrap CSS styling.  Copyright 2012-2020 Thomas Park.  Licensed under MIT.  (<a href="https://bootswatch.com/" target="blank">https://bootswatch.com/</a>)</li>
        </ul>
    </div>
</div>

</div> <!-- End of Container -->

{% endblock %}

{% block scripts %}
<script>
	$('#copy_key').click(function() {
		$('#apikey').select();
		document.execCommand("copy");
        console.log('copied key')
	});
</script>
{% endblock %}