{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %} 
<div class="container theme-showcase" role="main">
  <!-- Door Status Block -->
  <form name="input" action="/button">
    <div id="refreshstatus"></div>
  </form>
  <br>
  <!--<center><img name="main" id="main" border="0" width="400" height="300" src="http://192.168.20.55:8080/video"></center><br> -->
  <!-- Event History Block -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-info">
          <i class="fas fa-history"></i>&nbsp;Event History (last 10 events)
        </div>
        <div class="card-body">
          <div id="shortlog"></div>
        </div>
        <div class="card-footer">
          <form name="input" action="/history">
            <button type="submit" class="btn btn-primary float-right">Full Event Logs</button>
          </form>
          <form name="listorderselect" method="POST" action="/">
            {% if settings['misc']['listorder'] == 'topdown' %}
            <button class="btn btn-secondary text-light" type="submit" id="listorder" name="listorder" value="bottomup"><i class="fas fa-sort-amount-up-alt"></i> Sort</button>
            {% else %}
            <button class="btn btn-secondary text-light" type="submit" id="listorder" name="listorder" value="topdown"><i class="fas fa-sort-amount-down"></i> Sort</button>
            {% endif %}
          </form>
        </div>
      </div> <!-- End of Card -->
    </div> <!-- End of Col -->
  </div> <!-- End of Row -->
</div> <!-- End of Container -->
{% endblock %}

{% block scripts %}  
<script>
  $(document).ready(function(){
    $('#refreshstatus').load("/status");
    $('#shortlog').load("/shortlog");
    setInterval(function(){
      $('#refreshstatus').load("/status");
      $('#shortlog').load("/shortlog");
    }, 2000);
  });
</script>
{% endblock %}

 
