<div class="table-responsive">
  <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        {% if settings['misc']['listorder'] == 'bottomup' %}
        {% for row in range(10) %}
        <tr>
          {% for column in range(3) %}
        <td> {{ door_history[(events-1-row)][column] }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        {% for row in range(10) %}
        <tr>
          {% for column in range(3) %}
        <td> {{ door_history[(events-10+row)][column] }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
  </table>
</div>